.frame-child12,
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.vector-icon {
  top: -78px;
  left: 133.6px;
  border-radius: var(--br-11xl);
  width: 1695.7px;
  height: 1171px;
  opacity: 0.4;
}
.frame-child13 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.89);
  backdrop-filter: blur(35px);
  background-color: var(--color-gray-2000);
  border: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 1920px;
  height: 75px;
}
.cpt12,
.go12 {
  position: absolute;
  width: 61.63%;
  top: 0;
  left: 38.37%;
  display: flex;
  align-items: flex-end;
  text-shadow: 2px 0 0#2b3a63, 0 2px 0#2b3a63, -2px 0 0#2b3a63, 0-2px 0#2b3a63;
}
.go12 {
  width: 38.37%;
  left: 0;
  color: var(--color-violet);
  text-shadow: 1px 0 0#f197f4, 0 1px 0#f197f4, -1px 0 0#f197f4, 0-1px 0#f197f4;
}
.gocpt-logo10 {
  position: absolute;
  height: 8.52%;
  width: 14.82%;
  top: 0.28%;
  right: 42.57%;
  bottom: 91.2%;
  left: 42.6%;
  font-size: var(--font-size-45xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-padyakke-expanded-one);
}
.page-details-child {
  position: absolute;
  top: calc(50% - 266.5px);
  left: calc(50% - 825px);
  backdrop-filter: blur(75px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-2000);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 1650px;
  height: 533px;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-1300);
  width: 500px;
  height: 80px;
}
.medium,
.number-and-complexity {
  position: absolute;
  text-shadow: 0 0 10px #000;
}
.medium {
  top: calc(50% - 21.1px);
  left: 347px;
  font-weight: 500;
  display: none;
}
.number-and-complexity {
  top: 15.9px;
  left: 18px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 241px;
}
.rectangle-parent18 {
  width: 500px;
  position: relative;
  height: 80px;
  font-size: var(--font-size-17xl);
  color: var(--color-powderblue);
}
.amount-andor-complexity,
.minimal {
  position: absolute;
  text-shadow: 0 0 10px #000;
}
.amount-andor-complexity {
  top: calc(50% - 24.1px);
  left: 20px;
  display: flex;
  align-items: center;
  width: 341px;
}
.minimal {
  top: 18.5px;
  left: calc(50% + 101px);
  font-size: var(--font-size-17xl);
  font-weight: 500;
  color: var(--color-powderblue);
  display: none;
}
.rectangle-parent19 {
  width: 500px;
  position: relative;
  height: 80px;
}
.high,
.risk-of-complications {
  position: absolute;
  text-shadow: 0 0 10px #000;
}
.risk-of-complications {
  top: calc(50% - 36.1px);
  left: 16px;
  display: flex;
  align-items: center;
  width: 317px;
}
.high {
  top: calc(50% - 21.1px);
  left: calc(50% + 147px);
  font-size: var(--font-size-17xl);
  font-weight: 500;
  color: var(--color-thistle);
  display: none;
}
.group-parent1 {
  position: absolute;
  top: calc(50% - 246.4px);
  left: calc(50% - 806px);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-37xl);
}
.progress-bar {
  position: absolute;
  top: 0;
  left: calc(50% - 335px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  border-radius: var(--br-mini);
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 670px;
  height: 50px;
}
.medium1 {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 75px);
  font-weight: 500;
  display: none;
  text-shadow: 0 0 10px #000;
}
.progress-bar-parent {
  position: absolute;
  top: 217px;
  left: calc(50% - 348px);
  width: 670px;
  height: 50px;
  font-size: var(--font-size-21xl);
  color: var(--color-powderblue);
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-1400);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 750px;
  height: 50px;
}
.choose-an-option {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 359.5px);
  display: flex;
  align-items: center;
  width: 720px;
}
.rectangle-parent21 {
  width: 750px;
  position: relative;
  height: 50px;
}
.submit2-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    180deg,
    rgba(241, 151, 244, 0.75),
    rgba(43, 58, 99, 0.75)
  );
  border: 1px solid var(--color-gray-900);
  box-sizing: border-box;
}
.submit4 {
  position: absolute;
  top: 10%;
  left: 41.47%;
}
.submit21 {
  width: 750px;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  height: 50px;
  font-size: var(--font-size-13xl);
}
.group-child20 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-1400);
  width: 750px;
  height: 50px;
}
.div {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 46.5px);
  display: none;
}
.rectangle-parent22 {
  width: 750px;
  position: relative;
  height: 50px;
  font-size: var(--font-size-17xl);
}
.group-parent2 {
  position: absolute;
  top: 28px;
  left: 0;
  border-radius: var(--br-mini);
  width: 825px;
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mid);
}
.div1 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 50.5px);
  display: none;
}
.get-code-based,
.group-parent3,
.new-or-existing {
  position: absolute;
  left: 825px;
  display: flex;
  justify-content: center;
  width: 825px;
}
.group-parent3 {
  top: 29px;
  border-radius: var(--br-mini);
  height: 186px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-mid);
}
.get-code-based,
.new-or-existing {
  top: 0;
  align-items: flex-end;
  text-shadow: 0 0 5px #000;
}
.new-or-existing {
  left: 0;
}
.patient1 {
  top: 0;
  width: 1650px;
  height: 28px;
  text-align: center;
}
.mdm-child,
.patient,
.patient1 {
  position: absolute;
  left: 0;
}
.patient {
  top: 293px;
  width: 1650px;
  height: 215px;
  font-size: var(--font-size-5xl);
}
.mdm-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(180deg, #302438, #936094);
  border: 2px solid var(--color-gray-600);
  box-sizing: border-box;
}
.generate-mdm-cpt {
  position: absolute;
  top: 18.75%;
  left: 24.24%;
}
.mdm {
  position: absolute;
  top: 122px;
  left: calc(50% - 425px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.85);
  width: 850px;
  height: 64px;
  font-size: var(--font-size-17xl);
}
.group-child23,
.page-details {
  position: absolute;
  top: calc(50% + 1052px);
  left: calc(50% - 825px);
  width: 1650px;
  height: 533px;
}
.group-child23 {
  top: calc(50% - 206.5px);
  left: calc(50% - 457.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-2000);
  border: 1px solid var(--color-gray-1300);
  box-sizing: border-box;
  width: 915px;
  height: 413px;
}
.it-may-take {
  position: absolute;
  top: 62px;
  left: 236px;
}
.upload-your-note {
  position: absolute;
  top: 5px;
  left: 257px;
  font-size: var(--font-size-29xl);
}
.group-child24 {
  position: absolute;
  top: 0;
  left: calc(50% - 425px);
  border-radius: var(--br-mini);
  background-color: var(--color-gray-700);
  width: 850px;
  height: 148px;
}
.click-to-upload {
  position: absolute;
  top: calc(50% - 19px);
  left: calc(50% - 281px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 10px #000;
}
.rectangle-parent26 {
  position: absolute;
  top: 112px;
  left: calc(50% - 425.5px);
  width: 850px;
  height: 148px;
  font-size: var(--font-size-13xl);
}
.generate-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background: linear-gradient(
    180deg,
    rgba(241, 151, 244, 0.8),
    rgba(43, 58, 99, 0.8)
  );
  border: 2px solid var(--color-gray-800);
  box-sizing: border-box;
}
.generate-cpt-code {
  margin: 0;
}
.generate-cpt-code-container1 {
  width: 100%;
}
.generate-cpt-code-container {
  position: absolute;
  width: 98.28%;
  top: 14.12%;
  left: 0.86%;
  display: flex;
  align-items: center;
}
.generate {
  position: absolute;
  top: 284px;
  left: calc(50% - 289.5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  width: 580px;
  height: 85px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.rectangle-parent25 {
  position: absolute;
  top: calc(50% + 618px);
  left: calc(50% - 458px);
  width: 915px;
  height: 413px;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 100%;
  width: 69.08%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  height: 32.64%;
  width: 47.19%;
  top: 27.86%;
  right: 52.81%;
  bottom: 39.5%;
  left: 0;
}
.leave {
  text-decoration: none;
  position: absolute;
  top: 18px;
  left: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  width: 49.8px;
  height: 48.1px;
}
.loginpage-inner {
  width: 312px;
  position: relative;
  height: 328px;
  object-fit: cover;
}
.administrator {
  width: 700px;
  position: relative;
  font-size: var(--font-size-45xl);
  text-align: center;
  display: inline-block;
  height: 76px;
  flex-shrink: 0;
  text-shadow: 0 0 30px #000, 0 0 30px #000;
}
.group-child25 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-1900);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 700px;
  height: 65px;
}
.admingmailcom {
  position: absolute;
  top: calc(50% - 22px);
  left: 19px;
}
.rectangle-parent27 {
  width: 700px;
  position: relative;
  box-shadow: 0 0 25px #000;
  backdrop-filter: blur(30px);
  height: 65px;
  font-size: var(--font-size-13xl);
}
.phone-number {
  width: 675px;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 60px;
  flex-shrink: 0;
}
.loginpage-child1 {
  border: 1px solid var(--color-white);
  outline: 0;
  font-family: var(--font-jura);
  font-size: var(--font-size-13xl);
  background-color: var(--color-gray-1900);
  width: 700px;
  position: relative;
  box-shadow: 0 0 25px #000;
  backdrop-filter: blur(30px);
  border-radius: var(--br-mini);
  box-sizing: border-box;
  height: 65px;
  padding: 12.5px var(--padding-lgi) var(--padding-mini-5);
  color: var(--color-white);
}
.change-password,
.confirm-password11 {
  width: 675px;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.change-password {
  text-decoration: none;
  color: inherit;
  height: 50px;
  cursor: pointer;
}
.confirm-password11 {
  color: var(--color-gray-1000);
  height: 28px;
}
.update-details-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-1900);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.update-details1 {
  position: absolute;
  top: 14.62%;
  left: 30.5%;
  font-size: var(--font-size-17xl);
  font-family: var(--font-jura);
  color: var(--color-white);
  text-align: left;
}
.update-details {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 700px;
  position: relative;
  box-shadow: 0 0 25px #000;
  backdrop-filter: blur(30px);
  height: 65px;
}
.loginpage3 {
  position: absolute;
  top: calc(50% - 410px);
  left: calc(50% - 463px);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(55px);
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-1200);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 927px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.old-password {
  width: 605px;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 60px;
  flex-shrink: 0;
}
.group-child26 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-1900);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 610px;
  height: 65px;
}
.div2 {
  position: absolute;
  top: calc(50% - 22.2px);
  left: 16.9px;
  display: inline-block;
  width: 496.7px;
}
.rectangle-parent28 {
  width: 610px;
  position: relative;
  box-shadow: 0 0 25px #000;
  backdrop-filter: blur(30px);
  height: 65px;
  font-size: var(--font-size-13xl);
}
.div3 {
  position: absolute;
  top: calc(50% - 19px);
  left: 19px;
}
.forgot-password3 {
  width: 605px;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 50px;
  flex-shrink: 0;
}
.update-details3 {
  position: absolute;
  top: 14.62%;
  left: 30.5%;
}
.update-details2 {
  width: 700px;
  position: relative;
  box-shadow: 0 0 25px #000;
  backdrop-filter: blur(30px);
  height: 65px;
  font-size: var(--font-size-17xl);
}
.loginpage4 {
  position: absolute;
  top: calc(50% - 338px);
  left: calc(50% + 980px);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(55px);
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-1200);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 772px;
  height: 692px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prf-icon,
.toggle-child1 {
  position: absolute;
  top: 13px;
  left: 1851px;
  width: 50px;
  height: 50px;
}
.toggle-child1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-38xl);
  background-color: var(--color-gray-2000);
  border: 3px solid var(--color-violet);
  box-sizing: border-box;
}
.toggle-child2 {
  height: 76.91%;
  width: 33.3%;
  top: 10.85%;
  right: 6%;
  bottom: 12.24%;
  left: 60.7%;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  background-color: var(--color-gray-2100);
  border: 2px solid var(--color-violet);
  box-sizing: border-box;
}
.back1,
.toggle-child2,
.toggle2 {
  position: absolute;
}
.toggle2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 113px;
  left: 1801px;
  width: 100px;
  height: 43.3px;
  overflow: hidden;
}
.back1 {
  top: 0;
  left: 0;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}
.back-child {
  position: absolute;
  height: 2.17%;
  width: 100.81%;
  top: 66.3%;
  right: 102.02%;
  bottom: 31.52%;
  left: -102.82%;
  filter: drop-shadow(0 0 3px #000) drop-shadow(0 0 3px #000)
    drop-shadow(0 0 3px #000);
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.back {
  position: absolute;
  top: 1030px;
  left: calc(50% - 62px);
  width: 124px;
  height: 46px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  font-family: var(--font-padyakke-expanded-one);
}
.vector-root {
  width: 100%;
  position: relative;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-jura);
}
